</div>
</div>
<footer 
  data-controller="footer"
  id="footer"
  data-turbo-links-permanent
  class="w-full bg-bcyellow fixed bottom-0">

  <div class="container justify-between items-center flex p-3">
  <button 
    data-target="footer.backButton history.backButton"
    data-action="click->footer#back"
    class="disabled:opacity-25 bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
    Back
  </button>

  <div>
    <select 
      data-target="footer.slideList history.slideList"
      data-action="change->footer#pickSlide"
      class="block w-full bg-gray-300 border border-gray-300 py-3 px-4 pr-8 rounded">
      <% pages.forEach(function(page) { %>
        <option 
          data-target="footer.slideOption history.slideOption"
          value="<%= page.buildTemplate %>"><%= page.title %></option>
      <% }); %>
   </select>


  </div>


  <button 
    data-target="footer.nextButton history.nextButton"
    data-action="click->footer#next"
    class="disabled:opacity-25 bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
    Next
  </button>
  </div>
</footer>
</body>
</html>