<footer 
  data-controller="footer"
  id="footer"
  data-turbo-links-permanent
  class="w-full bg-bcyellow fixed bottom-0">

  <div class="container justify-between items-center flex p-3">
  <button 
    data-action="click->footer#back"
    class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
    Back
  </button>

  <button 
    data-action="click->footer#next"
    class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
    Next
  </button>
  </div>
</footer>