<footer 
  id="footer"
  data-turbo-links-permanent
  class="w-full border-t border-grey p-4 bg-gray-200 fixed bottom-0 flex items-center justify-between">

  <button type="button">
    <svg class="h-12 w-12" id="left-arrow">
      <path class="heroicon-ui" d="M5.41 11H21a1 1 0 0 1 0 2H5.41l5.3 5.3a1 1 0 0 1-1.42 1.4l-7-7a1 1 0 0 1 0-1.4l7-7a1 1 0 0 1 1.42 1.4L5.4 11z"/>
    </svg>
  </button>

  <button type="button" class="bg-blue-300">
    <svg class="h-12 w-12 " id="right-arrow">
      <path class="heroicon-ui" d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z"/>
    </svg>
  </button>
</footer>