<!doctype html>
<html lang="en">
<head>
  <title>Steve's cover letter</title>
  <meta charset="UTF-8">
  <meta name="description" content="Slideshow">
  <meta name="author" content="Stephen Filus">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <script src="main.js" defer></script>
</head>

<body class="bg-bcyellow text-gray-900" data-controller="history">
  <div 
    id="content" 
    class="cover-letter-content-container" 
    data-action="popstate@window->history#backState">

    <div data-target="history.contentBody" class="container mx-auto h-screen pb-64">