<%= htmlWebpackPlugin.options.header %>
<!-- no content above here -->

<h1 class="title">
  About Me
</h1>

<div class="content-wrapper">
  <!-- Things inside this div.content-wrapper will be placed inside the white "card" on the slide. -->

  <p>Hello Basecamp Team!</p>
  <p>I'm Steve, a programmer and sports geek, from Royal Oak, Michigan. I am always available for NBA salary cap
    discussions, debating baseball Sabermetrics, and playing tennis (although I'm better at Mario Tennis).</p>
  <p>I also enjoy making things - software, goofy digital images, hot sauces - you know, just your standard hobbies. I
    built this slide show generator because I was excited after receiving an email regarding the open position on your
    Research &amp; Fidelity team. (More info on the slide show generator to follow).</p>
</div>

<!-- no content below here -->
<%= htmlWebpackPlugin.options.footer %>