<!doctype html>
<html lang="en">
<head>
  <title>Steve's cover letter</title>
  <%= htmlWebpackPlugin.options.meta %>
</head>

<body>
    <%= htmlWebpackPlugin.options.header %>

    <div id="content" class="pb-20 pt-10">
      <h1 class="text-4xl text-center font-bold ">Index</h1>
      <div class="p10 text-center">
        <a href="why-i-want-to-work-at-basecamp/slide1.html">Slide</a>
      </div>
      <div id="test_text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, nisi eu eleifend efficitur, erat nunc auctor mi, et feugiat lacus nisi sed mauris. Morbi quis orci ut nulla placerat ultricies. Sed id pretium urna. Ut non luctus nunc. Sed viverra imperdiet velit at venenatis. Pellentesque aliquet, nulla quis scelerisque malesuada, arcu ex commodo nisl, nec imperdiet arcu nisi ac ligula. Pellentesque auctor, sapien a ullamcorper ornare, enim velit consequat elit, a elementum orci erat non risus. Vestibulum congue imperdiet purus ac tincidunt. Curabitur vel finibus justo, vitae auctor orci. Proin eget risus blandit, tincidunt eros et, sollicitudin velit. Nunc vitae erat id velit rutrum varius at non dolor. Nunc at accumsan velit. Duis ultrices a risus at interdum. Suspendisse sit amet purus tortor. Fusce id turpis congue, interdum massa sit amet, ultrices ante.

Donec eleifend libero orci, ac sodales tellus pellentesque et. Etiam accumsan posuere pharetra. Integer sem urna, interdum ac rutrum id, condimentum ut risus. Nullam eget ullamcorper est. Cras bibendum rutrum metus, eu blandit diam sollicitudin eget. Maecenas nulla purus, molestie id condimentum a, eleifend ac massa. Cras in molestie justo, eu fringilla nibh. Curabitur eu sagittis nisl. Praesent porttitor eleifend augue, ut tempor turpis luctus eget. Nullam ligula ex, faucibus sed quam a, sollicitudin dapibus nibh. Nulla pulvinar odio ut elit gravida fermentum. Proin ultricies nisl elit, sit amet tincidunt augue venenatis id. Phasellus scelerisque ante dui. Vestibulum sed ante non sapien lobortis facilisis in id magna.

Sed in imperdiet erat. Nunc ut lacinia ante. Etiam libero enim, aliquet vel sapien sit amet, lobortis consequat dui. Sed lobortis porttitor leo, ut elementum libero cursus non. Maecenas eget massa id ligula volutpat blandit et in magna. Sed ornare metus nec feugiat condimentum. Fusce nec nulla quis risus tempus pulvinar sed quis ligula. Quisque vulputate vehicula tortor eu viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pretium tortor eget dui mattis, in molestie dui ornare. Quisque sagittis fringilla neque rhoncus lobortis. 
      </div>

    </div>

    <%= htmlWebpackPlugin.options.footer %>
</body>
</html>