<!doctype html>
<html lang="en">
<head>
  <title>[2] Steve's cover letter</title>
  <%= htmlWebpackPlugin.options.meta %>
</head>

<body class="bg-bcyellow text-gray-900">
  <div id="content" class="cover-letter-content-container ">
    <h1 class="text-4xl text-center font-bold ">2. Why I want to work at Basecamp</h1>
    <div class="p10 text-center">
      <a href="why-i-want-to-work-at-basecamp/slide1.html">Slide</a>
    </div>
    <div id="test_text">
      Testing
    </div>

  </div>

  <%= htmlWebpackPlugin.options.footer %>
</body>
</html>