<%= htmlWebpackPlugin.options.header %>

    <h1 class="text-4xl text-center font-bold mb-6">
      WIWTWAB
    </h1>

    <div class="flex justify-center h-screen">
      <div class="flex flex-col bg-white max-w-2xl w-full rounded-lg shadow-md mb-64">
        <div class="text-center bg-gray-100 px-4 py-2 m-2 rounded-lg">1</div>
        <div class="text-center bg-gray-100 px-4 py-2 m-2 rounded-lg">2</div>
        <div class="text-center bg-gray-100 px-4 py-2 m-2 rounded-lg">3</div>
      </div>
    </div>

<%= htmlWebpackPlugin.options.footer %>
