<%= htmlWebpackPlugin.options.header %>
<!-- no content above here -->

    <h1 class="title">
      Final Thoughts
    </h1>

    <div class="content-wrapper">
      <!-- Things inside this div.content-wrapper will be placed inside the white "card" on the slide. -->

      <p>I appreciate the time you have taken to review my cover letter. Joining the Research &amp; Fidelity team at Basecamp would be an amazing opportunity for me, and I have no doubt that I could contribute at a high level should you decide to hire me.</p>
      <p>It would be great to discuss the open programmer position with you further.</p>
      <p>Sincerely,</p>
      <p>Steve Filus <br/>filus.stephen@gmail.com</p>
      
    </div>

<!-- no content below here -->
<%= htmlWebpackPlugin.options.footer %>