<%= htmlWebpackPlugin.options.header %>
<!-- no content above here -->

    <h1 class="title">
      Why I would Be a Great Fit
    </h1>

    <div class="content-wrapper">
      <!-- Things inside this div.content-wrapper will be placed inside the white "card" on the slide. -->

      <p>You're looking for someone with strong front-end Javascript experience, with bonus points being awarded to folks with back-end experience as well.</p>
      <ul>
        <li>I have been working as a full stack developer for nine years. I built <a target="_blank" href="http://lunchnumbers.com">Lunch Numbers</a> using a Java backend, and my current job involves working on a .Net web application.</li>
        <li>In fact, I used an "HTML over the wire" architecture with Lunch Numbers. All of the pages were traditional server rendered templates. The order page required a bit of interactivity, but a full blown SPA framework would have added way more complexity than was necessary. So instead, I used ajax requests, returning HTML partials, and swapping them in to peices of the page.</li>
        <li>While I worked at Tome I was built a single page application using the of AngularJS 1.X. It seems like they are up to version 90 now. It wasn't my favorite experience but I got it done.</li>
        <li>I learned the basics of Stimulus and Tailwind CSS this week, just so I could build this slide show.</li>
      </ul>

    </div>

<!-- no content below here -->
<%= htmlWebpackPlugin.options.footer %>