<%= htmlWebpackPlugin.options.header %>
<!-- no content above here -->

    <h1 class="title">
      Why I Would Be a Great Fit at Basecamp
    </h1>

    <div class="content-wrapper">
      <!-- Things inside this div.content-wrapper will be placed inside the white "card" on the slide. -->

      <p>You're looking for someone with strong front-end Javascript experience, with bonus points being awarded to programmers with back-end experience as well.</p>
      <ul>
        <li>I have been working as a full stack developer for nine years using a variety of tech stacks including Java, NodeJS, and .Net. In my free time I've been dipping my toe into the Elixir and Phoenix world.</li>
        <li><a target="_blank" href="http://lunchnumbers.com">Lunch Numbers</a> was a nights and weekends project I put together, which used an "HTML over the wire" architecture. All pages were server rendered.
          Instead of taking on all the complexity of a SPA framework, I swapped in server rendered HTML partials loaded via AJAX requests on the few pages that required extra interactivity.
        <li>While working at Tome I was tasked with building a single page web application using AngularJS 1.X. This involved writing <i>a lot</i> of front-end Javascript.</li>
        <li>While working on this slide show generator project, I had fun using Stimulus and Tailwind CSS for the first time! 
          Storing the application state in HTML makes a lot of sense for server rendered pages, and Stimulus is a tool I will continue to use in the future.
      </ul>

    </div>

<!-- no content below here -->
<%= htmlWebpackPlugin.options.footer %>