<%= htmlWebpackPlugin.options.header %>
<!-- no content above here -->

    <h1 class="title">
      Why I want to work at Basecamp
    </h1>

    <div class="content-wrapper">
      <!-- Things inside this div.content-wrapper will be placed inside the white "card" on the slide. -->

      <p>A few of the reasons I am interested in joining the Research & Fidelity team at Basecamp include:</p>
      <ul>
        <li>Having used Basecamp at a previous job, and now as a Basecamp Personal user, I really enjoy using your product.</li>
        <li>All of content your team has produced (Getting Real, Shape Up, It Doesn't Have to Be Crazy at Work, Signal V. Noise) makes it clear to me that you have a productive software company ran in a sane way.</li>
        <li>It would be an amazing opportunity to learn alongside peers who have built tools like Stimulus, Turbolinks and Rails.</li>
        <li>I want to work remotely. Although I enjoy traveling, Michigan is home to me.</li>
      </ul>

    </div>

<!-- no content below here -->
<%= htmlWebpackPlugin.options.footer %>