<%= htmlWebpackPlugin.options.header %>
<!-- no content above here -->

    <h1 class="title">
      Show Don't Tell
    </h1>

    <div class="content-wrapper">
      <!-- Things inside this div.content-wrapper will be placed inside the white "card" on the slide. -->

      <p>
        As <a target="_blank" href="https://m.signalvnoise.com/looking-for-a-new-job-dont-be-boring/">Claire Lew</a> said, "Show Don't Tell", so I coulnt' leave you hanging after mentioning goofy images.
      </p>

      <div class="flex justify-center w-full flex-col content-center text-center">
        <img src="img/hot-sloth-white-bottle-final.png"  class="w-1/2 "/>
        <p>A label I made for my home made hot sauce.</p>

        <img src="img/burrito.png"  class="w-1/2 rounded-lg"/>
        <p>My mediocre fantasy baseball team's logo.</p>
      </div>


    </div>

<!-- no content below here -->
<%= htmlWebpackPlugin.options.footer %>