<%= htmlWebpackPlugin.options.header %>
<!-- no content above here -->

    <h1 class="title">
      Why I Want to Work at Basecamp
    </h1>

    <div class="content-wrapper">
      <!-- Things inside this div.content-wrapper will be placed inside the white "card" on the slide. -->

      <p>A few of the reasons I am interested in joining the Research & Fidelity team at Basecamp include:</p>
      <ul>
        <li>I am a fan of the product. While working at Tome, we used Basecamp to manage our projects, and it was a great experience. I've been using Basecamp Personal to take notes and keep track of tasks on my personal projects.</li>
        <li>I have learned a great deal from your books and blog. Your passion for building awesome products in a sane way shines through.</li>
        <li>The team responsible for Rails, Stimulus, and Turbolinks is obviously filled with passionate, talented programmers. It would be an amazing opportunity to learn from this group, and collaborate with them on projects.</li>
        <li>I want to work remotely. Although I enjoy traveling, Michigan is my home.</li>
        <li>The work of the Research &amp; Fidelity team is right up my alley. I know I could quickly be brought up to speed.</li>
      </ul>

    </div>

<!-- no content below here -->
<%= htmlWebpackPlugin.options.footer %>